@font-face {
  font-family: "MyFont2";
  src: url('/fonts/Estedad-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body{
  background-color: #e7e7e7;
}
